<% content_for(:title, "Edit Post") %>

<% content_for(:navbar) do %>
  <div class="nav valign-wrapper purple-nav">
    <%= image_tag 'white-gummy.png', :class => 'valign'%>
    <%= link_to 'Gummi Bear Kingdom', root_path, :class => 'header valign' %>
    <li><%= link_to 'Products', products_path, :class => 'valign nav-link' %></li>
    <li><%= link_to 'Blog', posts_path, :class => 'valign nav-link' %></li>
  </div>
  <div class="extra-nav valign-wrapper">
    <h4 class="valign"><%= @post.title %></h4>
  </div>
  <div class="extra-options valign-wrapper">
    <li><%= link_to 'Return to Post', post_path(@post), :class => 'valign nav-link' %></li>
  </div>
<% end %>

<h5 class="center-align">Edit Post</h5>
<hr>

<%= render 'form' %>
