<% content_for(:title, "Blog") %>

<% content_for(:navbar) do %>
  <div class="nav valign-wrapper purple-nav">
    <%= image_tag 'white-gummy.png', :class => 'valign'%>
    <%= link_to 'Gummi Bear Kingdom', root_path, :class => 'header valign' %>
    <li><%= link_to 'Products', products_path, :class => 'valign nav-link' %></li>
    <li><%= link_to 'Blog', posts_path, :class => 'valign nav-link' %></li>
    <li><%= link_to "Add A New Post", new_post_path, :class => 'valign nav-link' %></li>
  </div>
  <div class="extra-nav valign-wrapper">
    <h4 class="valign">Gummi Bear Kingdom Blog</h4>
  </div>
<% end %>

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <%= image_tag @featured.image %>
      </div>
      <span class="card-title"><%= link_to @featured.title, post_path(@featured) %></span>
    </div>
  </div>

  <h4 class="other-posts">Other Posts</h4>
  <hr>
  <div class="col s6">
    <ul>
      <% @posts.each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
      <% end %>
    </ul>
  </div>
</div>
