<% content_for(:title, @product.name) %>

<% content_for(:navbar) do %>
  <div class="nav valign-wrapper purple-nav">
    <%= image_tag 'white-gummy.png', :class => 'valign'%>
    <%= link_to 'Gummi Bear Kingdom', root_path, :class => 'header valign' %>
    <li><%= link_to 'Products', products_path, :class => 'valign nav-link' %></li>
    <li><%= link_to 'Posts', posts_path, :class => 'valign nav-link' %></li>
    <li><%= link_to 'Edit This Product', edit_product_path(@product), :class => 'valign nav-link' %></li>
    <li><%= link_to 'Delete This Product', product_path(@product), :class => 'valign nav-link', :data => {:confirm => "Are you sure you want to delete this product?", :method => "delete"} %></li>
  </div>
  <div class="extra-nav valign-wrapper">
    <h4 class="valign"><%= @product.name %></h4>
  </div>
<% end %>

<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <%= image_tag @product.image %>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h5>$<%= @product.cost %></h5>
        <h5>Made In: <%= @product.country %><h5>
      </div>
      <div class="card-action">
        <h4><%= @product.name %></h4>
      </div>
    </div>
  </div>
</div>
