<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <%= link_to 'Gummi Bear Kingdom', root_path, :class => 'brand-logo center' %>
        <ul>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Posts', posts_path %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= flash[:notice] %>
      <%= flash[:error] %>
      <%= yield %>
    </div>
  </body>
</html>
